{% extends '../base.html' %}
{% autoescape None %}
{% block content %}
{% from db import STATUS_VEHICLE_ACTIVE %}
<div class="ml10 mr10 pt8 pb8 clear">
    <a href="{{ reverse_url('backoffice_vehicle_add') }}" class="btn btn_i btn_primary btn_lg pr fl">发布车型<i
            class="add_vehicle_i"></i></a>
    <a href="javascript:;" class="refresh_btn pl20 mr20 fr mt10"><i class="refresh_i"></i>刷新</a>
</div>
<div class="filter_box clear no_mt">
    <div class="filter_condition fl">
        <span>筛选条件：</span>
        <input id="kw_name" name="kw_name" type="text" class="account" placeholder="车型名称关键字"
               value="{{ kw_name }}">
        <input id="kw_category" name="kw_type" type="text" class="account" placeholder="车型类别关键字"
               value="{{ kw_category }}">
    </div>
    <div class="filter_btn fr">
        <a href="javascript:;" id="search" class="btn btn_i btn_primary pr mr5" onclick="do_jump_2_page(event, 1)">
            查询
            <i class="btn_search"></i>
        </a>
        <a href="javascript:;" id="cancel_search" class="btn btn_default">取消筛选</a>
    </div>
</div>
<div class="data_list pr">
    <div class="clear">
        <div class="fl">
            <h3 class="list_title pr">车型列表<i class="list_title_i"></i></h3>
        </div>
        <div class="fr">
            <select>
                <option value="排列方式">排列方式</option>
            </select>
        </div>
    </div>
    <div>
        <table class="table_list">
            <tbody>
            <tr>
                <th width="40"></th>
                <th width="48">序号</th>
                <th>车型ID</th>
                <th>车型名称</th>
                <th>品牌</th>
                <th>车系</th>
                <th>配置</th>
                <th>车辆类别</th>
                <th>发布时间</th>
                <th>状态</th>
                <th>操作</th>
            </tr>
            {% set vehicle_list = paging.page_items %}
            {% if vehicle_list %}
            {% for index, vehicle in enumerate(vehicle_list) %}
            {% set needless = vehicle.needless %}
            <tr>
                <td class="tc">
                    <i class="checkbox_i" oid="{{ str(vehicle.oid) }}"></i>
                </td>
                <td width="48">{{ index + 1 }}</td>
                <td>{{ string_display(vehicle.code) }}</td>
                <td>{{ string_display(vehicle.title) }}</td>
                <td>{{ string_display(needless.get('brand')) }}</td>
                <td>{{ string_display(needless.get('series')) }}</td>
                <td>{{ string_display(needless.get('config')) }}</td>
                <td>{{ string_display(needless.get('category')) }}</td>
                <td>{{ datetime_format(vehicle.created_dt) }}</td>
                <td>
                    <label class="table_switch">
                        <input class="vehicle_status" type="checkbox"
                               {% if vehicle.status == STATUS_VEHICLE_ACTIVE %}checked="checked"{% end %}
                               oid="{{ str(vehicle.oid) }}">
                        <i></i>
                    </label>
                </td>
                <td class="tools">
                    <a href="{{ reverse_url('backoffice_vehicle_edit', str(vehicle.oid)) }}"
                       class="edit_i fl tips" data-name="编辑"></a>
                    <a href="javascript:;" class="delete_i fl tips" data-name="删除"
                       oid="{{ str(vehicle.oid) }}"></a>
                </td>
            </tr>
            {% end %}
            {% else %}
            <tr>
                <td colspan="11" align="center">没有相关记录！</td>
            </tr>
            {% end %}
            </tbody>
        </table>
        <div class="table_control clear">
            <div class="fl"><i class="checkbox_i mr10 ml10"></i>全选</div>
            <div class="fl ml20">
                <select id="operate" name="operate">
                    <option value="1">启用</option>
                    <option value="0">停用</option>
                    <option value="-1">删除</option>
                </select>
            </div>
            <div class="fl">
                <a href="javascript:;" id="btn_batch" class="btn btn_primary ml20 btn_sm">确定</a>
            </div>
        </div>
    </div>
</div>

<div class="fix_page clear" {% if vehicle_list %}style="display: none" {% end %}>
    <div class="fr">
        <span>跳至</span>
        <input id="jump_num" type="text" class="jump_num" onkeyup="do_jump_2_page(event, this.value);">
        <span>页</span>
    </div>
    <div class="paging fr mr10">
        <a href="javascript:;" onclick="do_jump_2_page(event, 1);"
           {% if paging.current_page_num == 1 %}class="btn_disabled"{% end %}>首页</a>
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.previous_page_num }});"
           {% if paging.current_page_num == 1 %}class="btn_disabled"{% end %}>上一页</a>
        {{ paging.other_pages_html }}
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.next_page_num }});"
           {% if paging.current_page_num == paging.total_pages %}class="btn_disabled"{% end %}>下一页</a>
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.total_pages }});"
           {% if paging.current_page_num == paging.total_pages %}class="btn_disabled"{% end %}>尾页</a>
    </div>
    <div class="fr mr20">
        共
        <span class="page_all">{{ paging.total_pages }}</span>
        页/
        <span class="data_all">{{ paging.total_items }}</span>
        条数据
    </div>
    <div class="fr mr15">
        <span>每页</span>
        <select id="per_page_quantity" name="per_page_quantity" onchange="do_jump_2_page(event, 1);">
            {% for num in [10, 20, 50, 100, 200] %}
            <option value="{{ num }}" {% if paging.per_page_quantity == num %}selected{% end %}>{{ num }}</option>
            {% end %}
        </select>
        <span>条</span>
    </div>
</div>
<script>
    function do_jump_2_page(event, to_page_num) {
        if (event) {

            var is_checked = false;
            if (event.type === "keyup" && event.keyCode !== 13) {
                is_checked = true;
            }
            if (is_checked) {
                $("#jump_num").val(to_page_num.replace(/[^\d]/g, ''));
            } else {
                display_loading();
                // 填充请求参数
                var kw_name = $.trim($("#kw_name").val());
                var kw_category = $.trim($("#kw_category").val());
                var params = {
                    'page': to_page_num,
                    'per_page_quantity': $('#per_page_quantity').val() || {{ per_page_quantity }},
                    'kw_name': kw_name,
                    'kw_category': kw_category
                };
                window.location.href = "{{ reverse_url('backoffice_vehicle_list') }}?" + dict_2_url_params(params);
            }
        }
    }
</script>
<script>
    $(function () {
        $(".vehicle_status").click(function (event) {
            display_loading();
            var target = $(event.target);
            var vehicle_id = ($(event.target).attr('oid'));
            var status = target.prop("checked");
            ajaxPost("/backoffice/vehicle/status_switch/" + vehicle_id + "/", {"status": status}, function (result) {
                if (result.code !== 1) {
                    tip_msg("状态变更失败，请重试！", 2000);
                    target.prop("checked", !status);
                }
                remove_loading()
            })
        });

        $(".delete_i").click(function (event) {
            confirm_dialog("警告", "确认要删除该车型？", function () {
                display_loading();
                var vehicle_id = ($(event.target).attr('oid'));
                if (vehicle_id) {
                    ajaxPost("/backoffice/vehicle/delete/" + vehicle_id + "/", {}, function (result) {
                        if (result.code === 1) {
                            tip_msg("车型已被删除！", 2000, function () {
                                window.location.reload();
                            });
                        } else {
                            tip_msg("车型删除失败！", 2000);
                        }
                        remove_loading()
                    });
                }
            });
        });

        $(".refresh_btn").click(function () {
            window.location.reload();
        });


        $("#btn_batch").click(function () {
            display_loading();
            var operate = $("#operate").val();
            var vehicle_id_list = [];
            $(".table_list .checkbox_i").each(function () {
                if ($(this).hasClass("checked")) {
                    vehicle_id_list.push($(this).attr("oid"));
                }
            });
            if (vehicle_id_list.length === 0) {
                tip_msg("操作无法完成，请至少选择一笔车型信息！", 2000);
                remove_loading();
                return;
            }
            var msg = "";
            if (operate === '0') {
                msg = "确定【停用】选中的车型？";
            } else if (operate === '-1') {
                msg = "确定【删除】选中的车型？";
            } else {
                msg = "确定【启用】选中的车型？";
            }
            confirm_dialog("警告", msg, function () {
                var data = {
                    "operate": operate,
                    "vehicle_id_list": vehicle_id_list
                };
                ajaxPost("{{ reverse_url('backoffice_vehicle_batch_operate') }}", data, function (result) {
                    if (result.code === 1) {
                        tip_msg("操作完成！", 2000, function () {
                            window.location.reload();
                        });
                    } else {
                        tip_msg("操作失败，请重试！", 2000);
                    }
                    remove_loading()
                })
            });

        });

        $("#cancel_search").click(function (event) {
            $("#kw_name").val("");
            $("#kw_category").val("");
            do_jump_2_page(event, 1);
        });
    });
</script>
{% end %}