{% extends '../base.html' %}
{% autoescape None %}
{% block content %}
{% from db import SOURCE_MEMBER_INTEGRAL_DICT %}
<div class="main_header pt10 pb10 clear">
    <div class="fl bread_nav">
        <h3 class="pl10 ml10">积分查询</h3>
    </div>
    <div class="fr">
        <a href="javascript:window.location.reload();" class="refresh_btn pl20"><i class="refresh_i"></i>刷新</a>
        <a href="{{ reverse_url('backoffice_integral_list') }}" class="pr back_btn pl10 mr20"><i
                class="back_i"></i>返回</a>
    </div>
</div>
<div class="integral_info clear p10 no_pb">
    <div class="fl clear">
        <div class="wx_name_img fl"></div>
        <div class="wx_name_info">
            <div class="f14">微信昵称</div>
            <div>{{ string_display(member.nick_name) }}</div>
        </div>
    </div>
    <div class="fl no_mr clear">
        <div class="wx_int_img fl"></div>
        <div class="wx_int_info">
            <div class="f14">可用积分</div>
            <div>{{ member.integral }}</div>
        </div>
    </div>
</div>
<div class="filter_box clear m10 no_mb">
    <div class="filter_condition fl">
        <span>筛选条件：</span>
        <select id="search_source">
            <option value="">请选择</option>
            {% for k, v in SOURCE_MEMBER_INTEGRAL_DICT.items() %}
            <option value="{{ k }}" {% if str(search_source) == str(k) %}selected{% end %}>{{ v }}</option>
            {% end %}
        </select>
        <span>
                <input type="text" placeholder="操作时间" class="search_datetime calendar_i"
                       id="search_datetime" value="{{ search_datetime }}">
            </span>
    </div>
    <div class="filter_btn fr">
        <a href="#" class="btn btn_i btn_primary pr mr5 search_data">查询<i class="btn_search"></i></a>
        <a href="{{ reverse_url('backoffice_integral_detail') }}?member_id={{ member.oid }}"
           class="btn btn_default">取消筛选</a>
    </div>
</div>
<div class="data_list pr">
    <div class="clear">
        <div class="fl">
            <h3 class="list_title pr">数据列表<i class="list_title_i"></i></h3>
        </div>
        <div class="fr">
            <select>
                <option value="排列方式">排列方式</option>
            </select>
        </div>
    </div>
    <div>
        <table class="table_list">
            <tr>
                <th width="20%">积分来源</th>
                <th width="20%">积分变化</th>
                <th width="20%">时间</th>
                <th width="40%">备注</th>
            </tr>
            {% set integral_list = paging.page_items %}
            {% if integral_list %}
            {% for integral in integral_list %}
            <tr>
                <td>{{ string_display(SOURCE_MEMBER_INTEGRAL_DICT.get(integral.source)) }}</td>
                <td>{{ integral.integral }}</td>
                <td>{{ datetime_format(integral.reward_datetime) }}</td>
                <td>{{ string_display(integral.content, 'NA') }}</td>
            </tr>
            {% end %}
            {% else %}
            <tr>
                <td colspan="6" align="center">没有相关记录！</td>
            </tr>
            {% end %}
        </table>
    </div>
</div>
<div class="fix_page clear {% if not integral_list %}dis_none{% end %}">
    <div class="fr">
        <span>跳至</span>
        <input id="jump_num" type="text" class="jump_num" onkeyup="do_jump_2_page(event, this.value);">
        <span>页</span>
    </div>
    <div class="paging fr mr10">
        <a href="javascript:;" onclick="do_jump_2_page(event, 1);"
           {% if paging.current_page_num== 1 %}class="btn_disabled" {% end %}>首页</a>
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.previous_page_num }});"
           {% if paging.current_page_num== 1 %}class="btn_disabled" {% end %}>上一页</a>
        {{ paging.other_pages_html }}
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.next_page_num }});"
           {% if paging.current_page_num== paging.total_pages %}class="btn_disabled" {% end %}>下一页</a>
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.total_pages }});"
           {% if paging.current_page_num== paging.total_pages %}class="btn_disabled" {% end %}>尾页</a>
    </div>
    <div class="fr mr20">
        共
        <span class="page_all">{{ paging.total_pages }}</span>
        页/
        <span class="data_all">{{ paging.total_items }}</span>
        条数据
    </div>
    <div class="fr mr15">
        <span>每页</span>
        <select id="per_page_quantity" name="per_page_quantity" onchange="do_jump_2_page(event, 1);">
            {% for num in [10, 20, 50, 100, 200] %}
            <option value="{{ num }}" {% if paging.per_page_quantity== num %}selected{% end %}>{{ num }}</option>
            {% end %}
        </select>
        <span>条</span>
    </div>
</div>
<script>
    function do_jump_2_page(event, to_page_num) {
        if (event) {

            var is_checked = false;
            if (event.type === "keyup" && event.keyCode !== 13) {
                is_checked = true;
            }
            if (is_checked) {
                $("#jump_num").val(to_page_num.replace(/[^\d]/g, ''));
            } else {
                display_loading();
                // 填充请求参数
                var params = {
                    'page': to_page_num,
                    'per_page_quantity': $('#per_page_quantity').val(),
                    'search_source': $('#search_source').val(),
                    'search_datetime': $('#search_datetime').val(),
                    'member_id': '{{ member.oid }}'
                };
                window.location.href = "{{ reverse_url('backoffice_integral_detail') }}?" + dict_2_url_params(params);
            }
        }
    }
</script>
<script>

    $(function () {

        laydate.render({
            elem: '.search_datetime', //指定元素
            trigger: 'click' //采用click弹出
        });

        $('.search_data').on('click', function () {
            var param_dict = {
                'search_source': $('#search_source').val(),
                'search_datetime': $('#search_datetime').val(),
                'per_page_quantity': $('#per_page_quantity').val(),
                'member_id': '{{ member.oid }}'
            };
            window.location.href = "{{ reverse_url('backoffice_integral_detail') }}?" + dict_2_url_params(param_dict);
        });

    })

</script>
{% end %}