{% extends '../base.html' %}
{% autoescape None %}
{% block content %}
{% from db import  STATUS_GAME_DAN_GRADE_ACTIVE %}
<div class="ml10 mr10 pt8 pb8 clear">
    <a href="{{ reverse_url('backoffice_dan_grade_add') }}" class="btn btn_i btn_primary btn_lg pr fl mr20">新增段位<i
            class="dan_grade_add_i"></i></a>
    <a href="javascript:;" class="refresh_btn pl20 mr20 fr mt10"><i class="refresh_i"></i>刷新</a>
</div>
<div class="filter_box clear">
    <div class="filter_condition fl">
        <span>筛选条件：</span>
        <input id="dan_grade_name" name="dan_grade_name" type="text" placeholder="段位名称" value="{{ dan_grade_name }}">
    </div>
    <div class="filter_btn fr">
        <a href="javascript:;" class="btn btn_i btn_primary pr mr5" onclick="do_jump_2_page(event, 1);">
            查询
            <i class="btn_search"></i>
        </a>
        <a href="javascript:;" id="cancel_search" class="btn btn_default">取消筛选</a>
    </div>
</div>
<div class="data_list pr">
    <div class="clear">
        <div class="fl">
            <h3 class="list_title pr">数据列表<i class="list_title_i"></i></h3>
        </div>
        <div class="fr">
            <select>
                <option value="排列方式">排列方式</option>
            </select>
        </div>
    </div>
    <div>
        <table class="table_list">
            <tbody>
            <tr>
                <th width="40"></th>
                <th width="80">序号</th>
                <th>段位名称</th>
                <th width="80">解锁星星数</th>
                <th width="120">段位缩略图</th>
                {#                    <th width="80">段位题数</th>#}
                <th>状态</th>
                <th width="130">操作</th>
            </tr>
            {% if paging.page_items %}
            {% for index, dan_grade in enumerate(paging.page_items) %}
            <tr>
                <td class="tc">
                    <i class="checkbox_i" oid="{{ dan_grade.oid }}"></i>
                </td>
                <td>{{ dan_grade.index }}</td>
                <td>{{ string_display(dan_grade.title) }}</td>
                <td>{{ dan_grade.unlock_stars }}</td>
                <td>{% if thumbnail_dict and thumbnail_dict.get(index) %} <img style="width: 30px; height: 30px" src="{{thumbnail_dict.get(index)}}" alt="">{% end %}</td>
                {#                    <td>{{ dan_grade.quantity}} </td>#}
                <td>
                    <label class="table_switch">
                        <input id="dan_grade_status" name="dan_grade_status" type="checkbox" class="dan_grade_status"
                               {% if dan_grade.status == STATUS_GAME_DAN_GRADE_ACTIVE %}checked="checked"{% end %}
                               oid="{{ str(dan_grade.oid) }}">
                        <i></i>
                    </label>
                </td>
                <td class="tools">
                    <a href="{{ reverse_url('backoffice_dan_grade_edit', str(dan_grade.oid)) }}"
                       class="edit_i fl tips" data-name="编辑">
                    </a>
                    <a href="javascript:;" class="delete_i fl tips" data-name="删除"
                       oid="{{ str(dan_grade.oid) }}"></a>
                </td>
            </tr>
            {% end %}
            {% else %}
            <tr>
                <td colspan="9" align="center">没有相关记录！</td>
            </tr>
            {% end %}
            </tbody>
        </table>
        {% if paging.page_items %}
        <div class="table_control clear">
            <div class="fl"><i class="checkbox_i mr25 ml10"></i>全选</div>
            <div class="fl ml20">
                <select id="operate" name="operate">
                    <option value="1">启用</option>
                    <option value="0">停用</option>
                    <option value="-1">删除</option>
                </select>
            </div>
            <div class="fl">
                <a href="javascript:;" id="btn_batch" class="btn btn_primary ml20 btn_sm">确定</a>
            </div>
        </div>
        {% end %}
    </div>
</div>
{% if paging.page_items %}
<div class="fix_page clear">
    <div class="fr">
        <span>跳至</span>
        <input id="jump_num" type="text" class="jump_num" onkeyup="do_jump_2_page(event, this.value);">
        <span>页</span>
    </div>
    <div class="paging fr mr10">
        <a href="javascript:;" onclick="do_jump_2_page(event, 1);"
           {% if paging.current_page_num == 1 %}class="btn_disabled"{% end %}>首页</a>
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.previous_page_num }});"
           {% if paging.current_page_num == 1 %}class="btn_disabled"{% end %}>上一页</a>
        {{ paging.other_pages_html }}
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.next_page_num }});"
           {% if paging.current_page_num == paging.total_pages %}class="btn_disabled"{% end %}>下一页</a>
        <a href="javascript:;" onclick="do_jump_2_page(event, {{ paging.total_pages }});"
           {% if paging.current_page_num == paging.total_pages %}class="btn_disabled"{% end %}>尾页</a>
    </div>
    <div class="fr mr20">
        共
        <span class="page_all">{{ paging.total_pages }}</span>
        页/
        <span class="data_all">{{ paging.total_items }}</span>
        条数据
    </div>
    <div class="fr mr15">
        <span>每页</span>
        <select id="per_page_quantity" name="per_page_quantity" onchange="do_jump_2_page(event, 1);">
            {% for num in [10, 20, 50, 100, 200] %}
            <option value="{{ num }}" {% if paging.per_page_quantity == num %}selected{% end %}>{{ num }}</option>
            {% end %}
        </select>
        <span>条</span>
    </div>
</div>
{% end %}
<script>
    function do_jump_2_page(event, to_page_num) {
        if (event) {
            var is_checked = false;
            if (event.type === "keyup" && event.keyCode !== 13) {
                is_checked = true;
            }
            if (is_checked) {
                $("#jump_num").val(to_page_num.replace(/[^\d]/g, ''));
            } else {
                display_loading();
                // 填充请求参数
                var dan_grade_name = $.trim($("#dan_grade_name").val());
                var params = {
                    "dan_grade_name": dan_grade_name,
                    "page": to_page_num,
                    "per_page_quantity": $('#per_page_quantity').val() || {{ per_page_quantity }}
                };
                window.location.href = "{{ reverse_url('backoffice_dan_grade_list') }}?" + dict_2_url_params(params);
            }
        }
    }
</script>
<script>
    $(function () {
        $(".dan_grade_status").click(function (event) {
            display_loading();
            var target = $(event.target);
            var dan_grade_id = ($(event.target).attr('oid'));
            var status = target.prop("checked");
            ajaxPost("/backoffice/dan_grade/status_switch/" + dan_grade_id + "/", {"status": status}, function (result) {
                if (result.code !== 1) {
                    tip_msg("状态变更失败，请重试！", 2000);
                    target.prop("checked", !status);
                }
                remove_loading()
            })
        });

        $(".delete_i").click(function (event) {
            confirm_dialog("警告", "确认要删除该段位？", function () {
                display_loading();
                var dan_grade_id = ($(event.target).attr('oid'));
                if (dan_grade_id) {
                    ajaxPost("/backoffice/dan_grade/delete/" + dan_grade_id + "/", {}, function (result) {
                        if (result.code === 1) {
                            tip_msg("段位已被删除！", 2000, function () {
                                window.location.reload();
                            });
                        } else {
                            tip_msg("段位删除失败！", 2000);
                        }
                        remove_loading()
                    });
                }
            });
        });

        $("#btn_batch").click(function () {
            display_loading();
            var operate = $("#operate").val();
            var dan_grade_id_list = [];
            $(".table_list .checkbox_i").each(function () {
                if ($(this).hasClass("checked")) {
                    dan_grade_id_list.push($(this).attr("oid"));
                }
            });
            if (dan_grade_id_list.length === 0) {
                tip_msg("操作无法完成，请至少选择一条段位信息！", 2000);
                remove_loading();
                return;
            }
            var msg = "";
            if (operate === '0') {
                msg = "确定【停用】选中的段位？";
            } else if (operate === '-1') {
                msg = "确定【删除】选中的段位？";
            } else {
                msg = "确定【启用】选中的段位？";
            }
            confirm_dialog("警告", msg, function () {
                var data = {
                    "operate": operate,
                    "dan_grade_id_list": dan_grade_id_list
                };
                ajaxPost("{{ reverse_url('backoffice_dan_grade_batch_operate') }}", data, function (result) {
                    if (result.code === 1) {
                        tip_msg("操作完成！", 2000, function () {
                            window.location.reload();
                        });
                    } else {
                        tip_msg("操作失败，请重试！", 2000);
                    }
                    remove_loading()
                })
            });

        });

        $(".refresh_btn").click(function () {
            window.location.reload();
        });

        $("#cancel_search").click(function (event) {
            $("#dan_grade_name").val("");
            do_jump_2_page(event, 1);
        });
    });
</script>
{% end %}