{% extends '../base.html' %}
{% autoescape None %}
{% block content %}
<div class="main_header pt10 pb10 clear">
    <div class="fl bread_nav">
        <a href="{{ reverse_url('backoffice_hot_search_list') }}" class="pl10 ml10">热门搜索列表</a><span> &gt; 热门搜索新增</span>
    </div>
    <div class="fr clear">
        <a href="javascript:void(0);" onclick="self.location=document.referrer;" class="fl pr back_btn pl20 mr20">
            <i class="back_i"></i>返回</a>
    </div>
</div>
<div class="edit_info">
    <div>
        <h3 class="list_title pr add_manage">热门搜索新增<i class="list_title_i add_manage_i"></i></h3>
    </div>
    <div class="edit_info_detail">
        <form id="hot_search_add" name="role_add" method="post" action="{{ reverse_url('backoffice_hot_search_add') }}">
            {% raw xsrf_form_html() %}
            <table class="table_form">
                <tr>
                    <th width="40%">
                        <span class="necessary">*</span>名称
                    </th>
                    <td>
                        <input id="name" name="name" class="input_text" type="text" placeholder="请输入名称"
                               maxlength="16">
                    </td>
                </tr>
                <tr>
                    <th width="40%">
                        <span class="necessary">*</span>热度
                    </th>
                    <td>
                        <input id="hot_num" name="hot_num" class="input_text" type="text" placeholder="请输入热度（正整数）"
                               maxlength="64" onkeyup="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}" >
                    </td>
                </tr>

                <tr>
                    <th>启用状态</th>
                    <td>
                        <label class="table_switch">
                            <input id="status" name="status" type="checkbox" checked="checked">
                            <i></i>
                        </label>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                            <span id="error_msg" class="cl_danger">

                            </span>
                    </td>
                </tr>
                <tr>
                    <th></th>
                    <td>
                        <a id="submit" href="javascript:;" class="btn btn_primary mt15">提交</a>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>
<script>
    $(function () {
        $("#submit").click(function () {
            var _t_form = $("#hot_search_add");
            var form_data = _t_form.serialize();
            var name = $("#name").val();
            var hot_num = $("#hot_num").val();
            if ($.trim(name) === "") {
                $("#error_msg").html("请输入名称！");
                return;
            }
            if ($.trim(hot_num) === "") {
                $("#error_msg").html("请输入热度！");
                return;
            }
            display_loading();
            ajaxPost(_t_form.attr("action"), form_data, function (result) {
                if (result.code === 0) {
                    tip_msg("添加失败，请重试！", 2000);
                } else if (result.code === 1) {
                    tip_msg("添加成功！", 2000, function () {
                        window.location.href = "{{ reverse_url('backoffice_hot_search_list') }}";
                    });
                } else if (result.code === -1) {
                    $("#error_msg").html("请输入名称！");
                } else if (result.code === -2) {
                    $("#error_msg").html("请输入热度！");
                } else if (result.code === -3) {
                    $("#error_msg").html("名称已经存在，请重新输入！");
                    $("#code").focus();
                }
                remove_loading();
            });
        });
    });
</script>
{% end %}